html, body {
    height: 100%;
    width: 100%;
}


.root{
    color: white !important;
    height: 100%;
    width: 100%;
}

/*导航栏*/
.uk-navbar-left ul li h3{
    font-family: Malvie !important;
    font-size: 2vw;
    color: white;
    margin: 0;
}

.uk-navbar-right ul li a{
    font-size: 1vw;
}


/*正文内容*/
.wrapper {
    height: 80%;
    width: 100%;
}
    .wrapper .content{
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }


        .content-text-subtitle h6 {
            font-family: fzss;
            font-size: 1.6vw;
            color: white;
            margin: 6px 0 0 0;
        }

        .cotext-text-botton{
            margin-top: 5px;
        }

            .cotext-text-botton button {
                background-color: #1e87f0;
                border-radius: 3px;
            }


/*自定义字体*/
@font-face {
    font-family: 'pmzd';
    src: url("../../fonts/PangMenZhengDaoCuShuTi-2.ttf");
}
@font-face {
    font-family: 'Malvie';
    src: url("../../fonts/Malvie-2.otf");
}
@font-face {
    font-family: 'fzss';
    src: url("../../fonts/fzss.ttf");
}