html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav{
    height: 80px !important;
}

/*导航栏*/
.uk-navbar-left ul li h5{
    font-family: Malvie !important;
    color: white;
    margin: 0;
    padding: 0 !important;
    vertical-align: center;
}

.uk-navbar-left ul li div{
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

.uk-navbar-right ul li a {
    font-family:'TSSunOld198f9237f61f9be' !important;
    color: white !important;
}

.wrapper{
    width: 90%;
    position:absolute;
    top:80px;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto !important;
}

.main-container {
    height: 100% !important;
    padding: 0 !important;
}

.left-wrapper{

}

.info-container {
    height: 300px !important;
    width: 500px !important;
    padding-top: 50px !important;
}

.info-container h1{
    font-family: "AlienEncountersSolidBoldItalic" !important;
    color: white;
}
.info-container p{
    font-family:'TSSunOld198f9237f61f9be' !important;
    color: white;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask: url(/images/svg/theme.svg) no-repeat 50% 50%;
    mask: url(/images/svg/theme.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-white { background-color: white; }



/*自定义字体*/
@font-face {
    font-family: 'pmzd';
    src: url("../../fonts/PangMenZhengDaoCuShuTi-2.ttf");
}
@font-face {
    font-family: 'Malvie';
    src: url("../../fonts/Malvie-2.otf");
}
@font-face {
    font-family: 'fzss';
    src: url("../../fonts/fzss.ttf");
}