html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

body {
    height: 100%;
    width: 100%;
    min-width: 1000px;
    min-height: 550px;

}

.root{
    height: 100%;
    width: 100%;
}

/*Left*/
.left-content{
    height: 100%;
}
    .logo-container {
        height: 16%;
    }

        .logo {
            width: 32px;
            height: 32px;
            margin-top: 18%;
            margin-left: 23%;
            border-radius: 0.1em;
            background-color: #0057c3;}

            .logo .img {
                width: 24px;
                height: 24px;
                background: url("../../images/icons/kangaroo_24.png") no-repeat;
            }

    .list-container {
        height: 50%;
        font-family: syst;
        font-size: 14px;

    }
        .list-context{
            margin-left: 6%;
            margin-top: 8%;
        }
            .list-context li{
                height: 36px;
            }

    .size-container {
        width: 100%;
    }
        .size-context{
            padding-top: 100px;
        }

        .size-container .used-size {
            height: 32px;
            width: 100%;
            background-color: #0057c3;
            color: white;
            text-align: center;
            border-radius: 2em;
            font-size: 10px;
        }
                .used-size p{
                    padding-top: 8px;
                }

        .size-container .upgrade-acount {
            padding-top: 10px;
            text-align: center;
            font-size: 10px;
        }

.right-context {
    height: 100%;
    width: 96%;
    margin: 0 auto;

}
    .nav-container {
        height: 15%;
    }
        .search-wrapper {

        }
            .search-box{
                width: 100%;
            }

            .search-box .search-icon-box {
                width: 30px;
                height: 30px;
                float: left;
                background: url("../../images/icons/search.png") no-repeat;
            }
            .search-box .search-input-box {
                width: 200px;
                height: 30px;
                float: left;
            }
                .search-input-box input {
                    height: 24px;
                    width: 200px;
                    border: none;
                    margin-left: 5px;
                    padding-left: 10px;
                    outline: none;
                    background: transparent;
                }

        .banner-wrapper{

        }
            .banner-box {
                width: 100%;
            }
                .banner-box .log-out-icon-box {
                    height: 24px;
                    width: 24px;
                    background: url("../../images/icons/signout.png") no-repeat;
                }

    .file-info-container{

    }
        .upload-file-button-wrapper{
            width: 100px;
            height: 100%;
            margin: 0 20px 0 0 !important;
        }
            .upload-file-button-wrapper button {
                background-color: #0057c3;
                width: 100px !important;
                height: 100% !important;
                padding: 0 !important;
                line-height: 32px !important;
                color: white;
                border-radius: 2em;

            }


    .upload-component-container {
        height: 10%;
    }
        .upload-container{
            height: 100%;
        }
            .tips-box {
                height: 100%;
                font-family: zkgdht;
                font-size: 24px;
            }

            .upload-box{
                height: 100%;
            }
                .upload-button-box {
                    height: 40px;
                    width: 100px;
                    cursor: pointer;
                    border-radius: 2em;
                    background-color: #0057c3;
                }

                .upload-wrapper {
                    height: 24px;
                    width: 100%;
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 8px;
                }

                    .upload-icon {
                        height: 24px;
                        width: 24px;
                        float: left;
                        background: url("../../images/icons/upload.png") no-repeat;
                    }

                    .upload-text{
                        color: white;
                        float: left;
                        margin: 0 auto !important;
                        font-size: 13px;
                    }





    .file-info-container {
        height: 65%;
        /*background-color: #e72734;*/
    }
        .file-category-container {
            height: 14%;

        }
            .file-tab-wrapper{
                margin-top: 15px;
            }

        .file-table-container {
            height: 400px;

        }
            .file-null-tips {
                height: 90%;
                width: 100%;
            }

            .file-table-container table {
                width: 100%;

            }

            .file-table-container  tr{
                height: 80px;
            }
                tr .blank{
                    width: 8px;
                    padding: 0;
                }

                tr .icon-wrapper{
                    width: 50px;
                    height: 56px;
                    padding: 0;
                }
                    .delete {
                        height: 16px;
                        width: 16px;
                        cursor: pointer;
                        background: url("../../images/icons/delete.png") no-repeat;
                    }

                    .folder {
                        height: 16px;
                        width: 16px;
                        background: url("../../images/icons/folder.png") no-repeat;
                    }

                    .menu{
                        height: 16px;
                        width: 16px;
                        background: url("../../images/icons/menu.png") no-repeat;
                    }

                tr .divider{
                    height: 56px;
                    width: 20px;
                    border-right: 1px solid lightgrey;
                    padding: 0;
                }

                tr .file-box {
                    width: 250px;
                    height: 56px;
                    padding: 0;
                    margin-left: 25px;
                    /*background-color: #4292dc;*/
                }
                    .file {
                        margin: 6px 0 6px 20px;
                        width: 100%;
                        height: 80%;
                    }

                        .file-name{
                            font-size: small;
                            color: black;
                        }
                        .file-size{
                            width: 80px;
                            font-size: small;
                        }
                     .valid-time{
                         padding-bottom: 30px;
                         font-size: 12px;
                     }

                     .valid-time p{
                         margin: 0 !important;
                         text-align: center;
                     }


                    .file-box p {
                        margin: 0;
                        width: 350px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                tr .share-button-box {
                    width: 80px;
                    height: 32px;
                    padding: 0;
                    cursor: pointer;
                    margin: 3px 0 11px 50px;
                    background-color: #e72734;
                    border-radius: 2em;
                }

                    .share-wrapper {
                        width: 60px;
                        height: 32px;
                        margin-left: 8px;
                    }

                    .share-icon {
                        height: 24px;
                        width: 24px;
                        float: left;
                        margin-top: 2px;
                        margin-right: 3px;
                        background: url("../../images/icons/share.png") no-repeat;
                    }

                    .share-text {
                        padding-top: 6px;
                        font-size: small;
                        color: white;
                        float: left;
                    }

                tr .download-button-box {
                    width: 80px;
                    height: 32px;
                    padding: 0;
                    cursor: pointer;
                    margin: 0 10px 8px 10px;
                    background-color: #0057c3;
                    border-radius: 2em;
                }

                .download-wrapper {
                    width: 60px;
                    height: 32px;
                    margin-left: 10px;
                }

                .download-icon {
                    height: 16px;
                    width: 16px;
                    float: left;
                    padding-left: 4px;
                    margin-top: 7px;
                    margin-left: 3px;
                    background: url("../../images/icons/download.png") no-repeat;
                }

                .download-text {
                    padding-top: 6px;
                    font-size: small;
                    color: white;
                    float: left;
                }


/*文件上传*/
.button-group{
    height: 40px;
    /*background-color: #e72734;*/
}
    .left-button-box{
        float: left;
    }

    .right-button-box {
        float: right;
    }

    .left-button-box button {
        margin-right: 20px;
        background-color: #e72734;
        color: white;
        border-radius: 2em;
    }







.upload-files-container {
    height: 400px;
    overflow-y: scroll;
    ;

}
    tr .suspend-button-box {
        width: 80px;
        height: 32px;
        padding: 0;
        margin: 16px 0 11px 420px;
    }

        .suspend-button-box button {
            background-color: #FBC723;
            color: white;
            border-radius: 2em;
        }




/*公共样式*/
.hidden{
    display: none;
}



/*字体*/
@font-face {
    font-family: 'fzht';
    src: url("../../fonts/fangzhengheti.ttf");
}
@font-face {
    font-family: 'syst';
    src: url("../../fonts/syst.otf");
}
@font-face {
    font-family: 'zkgdht';
    src: url("../../fonts/zkgd.ttf");
}
