html, body {
    height: 100%;
    width: 100%;
}

/*导航栏*/
.uk-navbar-left ul li h5{
    font-family: Malvie;
    color: white;
    margin: 0;
}

.uk-navbar-left ul li div{
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

.uk-navbar-right ul li a {
    font-family:'TSSunOld198f9237f61f9be' !important;
    color: white !important;
}

.info-container{
    height: 55px;
}

.input-tips{
    color: darkred;
    margin-left: 15px;
}

#submit {
    height: 100%;
    width: 100%;
    border: none;
}



.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask: url(/images/svg/theme.svg) no-repeat 50% 50%;
    mask: url(/images/svg/theme.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-white { background-color: white; }


/*自定义字体*/
@font-face {
    font-family: 'pmzd';
    src: url("../../fonts/PangMenZhengDaoCuShuTi-2.ttf");
}
@font-face {
    font-family: 'Malvie';
    src: url("../../fonts/Malvie-2.otf");
}
@font-face {
    font-family: 'fzss';
    src: url("../../fonts/fzss.ttf");
}