html, body {
    height: 100%;
    width: 100%;
    background: url("../../images/bg/bg4.jpg") no-repeat;
    background-size: cover;
}

.info-container{
    height: 55px;
}

.input-tips{
    color: darkred;
}

#submit {
    height: 100%;
    width: 100%;
    border: none;
}