html, body {
    height: 100%;
    width: 100%;
}

/*导航栏*/
.nav{
    height: 80px !important;
}

/*导航栏*/
.uk-navbar-left ul li h5{
    font-family: Malvie !important;
    color: white;
    margin: 0;
    padding: 0 !important;
    vertical-align: center;
}

.uk-navbar-left ul li div{
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

.uk-navbar-right ul li a {
    font-family:'TSSunOld198f9237f61f9be' !important;
    color: white !important;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask: url(/images/svg/theme.svg) no-repeat 50% 50%;
    mask: url(/images/svg/theme.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-white { background-color: white; }


#title{
    cursor: pointer;
}

#share-num{
    border-color: white !important;
}

.root{
    height: 100%;
    width: 100%;

}

.share-code-container .confirm-button {
    margin-left: 10px;
    float: left;

}
.confirm-button button{
    border-radius: 0.2em !important;
    color: white !important;
}



.share-file-info-container {
    height: 300px;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
    /*background-color: white;*/
    text-align: center;
    color: white;
}

    .file-name p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .download-button{
        margin-top: 60px;
    }

    .download-button button {
        width: 188px;
        border-radius: 4px;
        color: white !important;
    }


/*common*/
.hidden{
    display: none;
}


/*自定义字体*/
@font-face {
    font-family: 'pmzd';
    src: url("../../fonts/PangMenZhengDaoCuShuTi-2.ttf");
}
@font-face {
    font-family: 'Malvie';
    src: url("../../fonts/Malvie-2.otf");
}
@font-face {
    font-family: 'fzss';
    src: url("../../fonts/fzss.ttf");
}