.webuploader-container {

}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	width: 86px !important;
	height: 28px; !important;
	font-size: 14px;
	padding-top: 5px;
	display: inline-block;
	cursor: pointer;
	background: #0057c3;
	color: #fff;
	text-align: center;
	border-radius: 2em;
}
.webuploader-pick-hover {

}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
