<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:src="http://www.w3.org/1999/xhtml">
<head>
    <title>Transfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="#" />
    <link href="https://cdn.bootcss.com/uikit/3.0.3/css/uikit.css" rel="stylesheet" />
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css">
    <link rel="stylesheet" th:href="@{/css/frontend/index.css}"/>

    <!--字体-->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/129470/28952/5ce805edf629d80094e07d79.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/129470/46724/5ce80a7af629d80094e07d7c.css' rel='stylesheet' type='text/css' />


</head>
<body>

    <div class="uk-container main-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><div class="icon icon-white"></div></li>
                    <li><a href="#"><h5>File Transfer</h5></a></li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="/transfer/register">注册</a></li>
                    <li><a href="/transfer/login">登录</a></li>
                </ul>
            </div>
        </nav>

        <div class="wrapper uk-flex">
            <div class="left-wrapper uk-card uk-width-1-2 ">
                <div class="info-container uk-position-center">
                    <h1>File Transfer</h1>
                    <p>
                        <span>
                            文件临时中转站，一个临时存储文件的web应用，只需简单注册即可存储、分享文件。
                            文件有效期7天，过期不保存，节约存储空间。
                        </span>
                    </p>
                </div>
            </div>
            <div class="right-wrapper uk-card uk-width-1-2 ">

            </div>
        </div>

    </div>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/uikit/3.0.3/js/uikit.js"></script>
<script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
<script th:src="@{/framework/gradientify/jquery_gradientify.js}"></script>
<script th:src="@{/js/frontend/common.js}"></script>
</body>
</html>