<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/fonts/material_icon/css/material_design_iconic_font.min.css}">
    <link rel="stylesheet" th:href="@{/css/frontend/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/frontend/login.css}"/>
</head>
<body>

<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="" th:src="@{/images/signup.jpg}" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">创建新的账号</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">登录</h2>
                    <form method="POST" class="register-form" id="login-form">

                        <div class="login-info-container">
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="用户名"/>
                            </div>
                        </div>
                        <div class="login-info-container">
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="密码"/>
                            </div>
                        </div>
                        <div class="login-info-container">
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>记住我</label>
                            </div>
                        </div>

                        <div class="form-group form-button">
                            <input type="button" id="login" class="form-submit" value="登录"/>
                        </div>
                    </form>
                    <!--<div class="social-login">-->
                        <!--<span class="social-label">Or login with</span>-->
                        <!--<ul class="socials">-->
                            <!--<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>-->
                            <!--<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>-->
                            <!--<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>

</div>

<!-- JS -->
<script src="" th:src="@{https://cdn.bootcss.com/jquery/3.3.1/jquery.js}"></script>
<script th:src="@{https://qidian.gtimg.com/lulu/theme/peak/js/common/all.js}"></script>
<script src="" th:src="@{/js/frontend/login.js}"></script>

</body>
</html>